
  <div class="row" style="background-color: #F7F9F9">
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1 center">
          <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
            <!-- hamburger-menu -->
    
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
              
              <li><a  class= "hamburger"  href="#">Product</a></li>
              <li><a  class= "hamburger" href="#">Blog</a></li>
              <li><a routerLink="/signin" class="hamburger" >Sign In</a></li> 
              <li style="margin-bottom:50px"><a routerLink="/signup" class="hamburger">Sign Up</a> </li>
              <div class="blank"></div>
              
              <a class="heading"  routerLink="/contact">  Contact Us </a><br>
              <a class="heading"> Product(s)</a><br>
              <a class="heading"> Community</a><br>
              <a class="heading"> About us</a><br>
  
              
            </ul>
          </div>
        
          </div>
      </div>
    <div class="col-xl-3 col-lg-10 col-md-10 col-sm-10 col-xs-10 center">
  
    <a routerLink="">
            <img class=logo src="../../../assets/consortym logo.png">
            <div id ="name"> <span class="dot"></span> CONSORTYM <span class="dot"></span></div></a>
    </div>
    
    <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-xs-12   middle1">
      <a routerLink="" class="design" ><i class="icon ion-md-planet"></i> HOME</a>
    </div> 
    <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-xs-12   middle">
      <a routerLink="" class="design"><i class="icon ion-logo-buffer"></i> PRODUCTS</a>
    </div> 
    <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-xs-12  middle">
      <a routerLink="" class="design"><i class="icon ion-md-paper"></i> BLOG</a>
    </div> 
    <div class="col-xl-2  col-lg-12 col-md-12 col-sm-12 col-xs-12  middle">
      <a routerLink="/signin" class="button"  >SIGN IN </a>
    </div> 
  </div>