<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
        <img class=questionmark src="../../../assets/que.png">
        <br>
       
    </div>
  </div>
  <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text">
          <div>
              <input type="checkbox" id="question4" name="q" class="questions">
              <div class="plus">+</div>
              <label for="question4" class="question">
              What is Blockchain?
              </label>
              <div class="answers">
                <p>
                  <b>For You, Blockchain is a distributed database, otherwise known as a distributed ledger, a shared record book. For your Grandma, It is the new Internet where you control your own data.  </b></p>
                
              </div>
            </div>
            <!-- _____________________________________________________ -->  
            <div>
              <input type="checkbox" id="question5" name="q" class="questions">
              <div class="plus">+</div>
              <label for="question5" class="question">
            What is Smart Contact?
              </label>
              <div class="answers">
                <p><b>A smart contract is a piece of code which allows you to perform credible transactions without third parties.</b> </p>
                
              </div>
            </div>
            <!-- _____________________________________________________ -->  
            <div>
              <input type="checkbox" id="question6" name="q" class="questions">
              <div class="plus">+</div>
              <label for="question6" class="question">
            Why Blockchain?
              </label>
              <div class="answers">
                <p><b>Saves time, Removes overheads, Reduces risks and Increases trust.</b></p>
                
              </div>
            </div>
            <!-- _____________________________________________________ -->  
            <div>
              <input type="checkbox" id="question7" name="q" class="questions">
              <div class="plus">+</div>
              <label for="question7" class="question">
           How can we help?
              </label>
              <div class="answers">
                <p><b>You are almost there, Get in touch.</b></p>
                
              </div>
            </div>
        </div>
<!--map-->
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.6022063509613!2d77.60984591482156!3d12.933269290881054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae14526d47175f%3A0x8a51177fba6ca896!2s91springboard+7th+Block%2C+Koramangala!5e0!3m2!1sen!2sin!4v1532281989285" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen>
</iframe> -->