
  <div class="row " style="background-color: #F7F9F9">
  <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-xs-12 text2 content">
                <h1 class ="heading">Communication is everything !  </h1>
                <p >
                    We'll always reply within the next 12 Hrs. of receiving your message. 
                      </p>
                      <br><br>
     <a class="button"  > E-mail us </a> 
     <br><br><br>
      <p >
          Or may be you'd like to call us at : <b>+91 9483994791</b>
      </p>
   </div>
    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 center">
        <img class="img" src="../../../assets/team.png">  
    </div>
  </div>
 