<div class="row ">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
        <h1 >Got a Project? Let's Talk </h1>
        <h5>So what's next we are ready...</h5>
      </div>
      </div>
<div class="row" style="background-color: #9be353">
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <a routerLink="/contact">
               <div class="item">
            <img class="logo"  src="../../../assets/brainstorm.png">
            <h3>Brainstorm</h3>
            <p>Talk to our expert</p>
          </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <a routerLink="/login">
            <div class="item">
                   <img class="logo"  src="../../../assets/Register.png">
            <h3>Register</h3>
            <p>Register for the pilot</p>
              </div>
              </a>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                  <a routerLink="/login"><div class="item">
                      <img class="logo"  src="../../../assets/Integrate.png">
            <h3>Integrate</h3>
            <p>Integrate the final product</p>
                    </div>
                  </a>
                    </div>
                  </div>